<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
 <h3 class="text-center title-1"> Cadastro de cidade e temperatura da mesma</h3>
 <form action="/addcidade" method="post">
 <p>Cidade: <input type="text" name="nomecidade" /></p>
 <p>Temperatura: <input type="number" name="tempatual" /></p>
 <p><input type="submit" value="Salvar" /></p>
 </form>
</body>
</html>
