<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
 <h1 class="text-center title-1"> Cadastro de cidade </h1>
 <form action="/addcidade" method="post">
 <p>cidade:<input type="text" name="nomecidade" /></p>
 <p>temperatura:<input type="number" name="tempatual" /></p>
 <p><input type="submit" value="Salvar" /></p>
 </form>
</body>
</html>
