<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <script>
      function limpa_formulário_cep() {
        document.getElementById('cidade').value=("");
      }

      function meu_callback(conteudo) {
        if (!("erro" in conteudo)) {
            document.getElementById('cidade').value=(conteudo.localidade);
        } 
        else {
            limpa_formulário_cep();
            alert("CEP não encontrado.");
        }
      }
          
      function pesquisacep(valor) {
        var cep = valor.replace(/\D/g, '');
        if (cep != "") {
            var validacep = /^[0-9]{8}$/;
            if(validacep.test(cep)) {
                document.getElementById('cidade').value="...";
                var script = document.createElement('script');
                script.src = 'https://viacep.com.br/ws/'+ cep + '/json/?callback=meu_callback';
                document.body.appendChild(script);
            }
            else {
                limpa_formulário_cep();
                alert("Formato de CEP inválido.");
            }
          } 
          else {
              limpa_formulário_cep();
          }
        };
    </script>
  </head>

  <body>
    <h4>Digite um CEP, por exemplo: 01001000</h4>
    <!-- Inicio do formulario -->
      <form method="get" action="/resposta">
        <label>Cep:
        <input name="cep" type="text" id="cep" value="" size="10" maxlength="9" onblur="pesquisacep(this.value);" /></label><br />
        <label>Cidade:
        <input name="cidade" type="text" id="cidade" size="40" /></label><br />
        <button type="submit">enviar</button>
      </form>
      <br>
      <hr>
      <a href="colocarcidade">Colocar uma cidade no banco de dados</a>
  </body>
</html>
