<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <ul>
        <% cidades.forEach(function(cidad){ %>
            <%  if(cidad.cidade === "São Paulo") {%>
                <h3><%= cidad.temp %> graus em <%= cidad.cidade %></h3>
                <hr>
            <%} else { %>
                <p><%= cidad.cidade %> não foi a cidade pesquisada</p>
            <%}%>
        <%})%>
    </ul>
</body>
</html>