<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p><%= cidade %></p>
    <ul>
        <% cidades.forEach(function(cidad){ %>
            <%  if(cidad.cidade == "São Paulo") {%>
                <p><%= cidad.temp %> graus em <%= cidad.cidade %></li>
            <%} else { %>
                <p><%= cidad.cidade %> não foi a cidade pesquisada</p>
            <%}%>
        <%})%>
    </ul>
</body>
</html>